head
    title= "Server config"
    link(href="stylesheet.css" rel="stylesheet")
    meta(id="csrf-token" content=csrfToken)
body(id=server.id)
    h1= "Server config"
    div#menu
    div#settings
        if server.prefix != null
            input#prefix(type="text" placeholder="prefix" value=server.prefix)
        else
            input#prefix(type="text" placeholder="prefix")
        button(onclick="saveServerSettings();") Save
    div#selection
        - var modules = server.modules;
        include modules.pug
        a(onclick="showAvailableModules();")
            div 
                span Add module
    script(src="functions.js")
    script(src="server.js")

