head
    title= "Server config"
    link(href="stylesheet.css" rel="stylesheet")
    meta(id="csrf-token" content=csrfToken)
    style
      include server.css
body(id=server.id)
    include topbar.pug
    h1= "Server config"
    div#menu
    div#serversettings
        if server.prefix != null
            input#prefix(type="text" placeholder="prefix" value=server.prefix)
        else
            input#prefix(type="text" placeholder="prefix")
        button(onclick="saveServerSettings();") Save
    h2 Modules
    div#selection
        - var modules = server.modules;
        include modules.pug
        a(class="module" onclick="showAvailableModules();")
            div(class="option")
                button Add module
    script(src="functions.js")
    script(src="server.js")

